.buttons {
   display: none;
    @include flex; 
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;

&__item {
margin-right: 8px;
    }

 &__portfolio {
    @include font(500, 16px, 1.6, 0.03em);
    text-align: center;
    margin: 0 auto;
    padding: 6px 22px;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    background: var(--button-background);


 &:hover {
    color: var(--main-background);
    background: var(--focus-color);
    box-shadow: var(--box-shadow-filter);
 }
}
}