.client {
 font-style: normal;
    @include font(700, 36px, 1.7, 0.03em);
   text-align: center;
   color: rgba(33, 33, 33, 1);

 &__list {
display: flex;
gap: 30px;
justify-content: center;
flex-wrap: wrap;
margin: 0 auto;

@include deskop {
      flex-wrap: nowrap;  /* czy musi być tu wrap? */
      display: flex;
      gap: 30px;
}
 }

 &__items {
    margin-top: 50px;  
 }

 &__icon {
width: 170px;
height: 92px;
border: 1px solid currentColor;
color: rgba(175, 177, 184, 1);
fill: currentColor;
border-radius: 4px;
text-align: center;
@include flex;
justify-content: center;


&:hover,
&:focus {
border-color: var(--focus-color);
fill: var(--focus-color);  
}
}
}