.contact {
    display: none;
}

 @media screen and (min-width: 767px) and (max-width: 1199px) {
.contact {
        display: flex;
        flex-direction: column;
        padding-right: 15px;
       
        margin-left: auto;
    
&__item {
        @include font;
        margin-top: 10px;
        
            }
    
    &__link {
    text-decoration: inherit;
    @include font;
    color: var(--second-line-color);

    &:hover {
        color: var(--focus-color);
    }

    &:focus {
        color: var(--focus-color);

    }
}
&__icon {
    fill: currentColor;
    margin-right: 8px;
}
 }
}
   
@media screen and (min-width: 1200px) {
   
.contact {
            margin-right: 50px;
            display: flex;
    
&__link {
        text-decoration: inherit;
      padding-left: 10px;
        @include font;
        color: var(--second-line-color);

        &:hover {
            color: var(--focus-color);
        }

        &:focus {
            color: var(--focus-color);

        }

    }

    &__icon {
        fill: currentColor;
        margin-right: 10px;
    }
}
}