.features {
padding-bottom: 0;

&__list {
display: flex;
flex-direction: column;
gap: 30px;

@include tablet {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include deskop {
       flex-direction: row;
        justify-content: center;
        
    }
}

&__items {
max-width: 450px;

    @include tablet {
        max-width: 354px;
    }

    @include deskop {
        max-width: 270px
    }
}

&__picture {
  
        height: 120px;
        background: var(--button-background);
        border-radius: 4px;
        fill: #212121;
        @include flex;
        justify-content: center;    
        
        &:last-child {
            margin-right: 0
        }
}

&__title {
    @include font(700, 18px, 1.5, 0.03em);
        margin-bottom: 10px;
        margin-top: 30px;
        text-align: center
}

&__p-index {
   font-family: 'Roboto';
   font-style: normal;
   @include font(400, 14px, 1.7, 0.03em);
   color: var(--second-line-color);   
}

}