.footer {
    background: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1600px;
    margin: auto;
  

&__flex {
    text-align: center;
        padding: 0 15px;
    
        @include tablet {
            display: flex;
            flex-wrap: wrap;
          

@include deskop {
display: flex;
align-items: baseline;
padding: 0;

}
    }
}

&__div {
    justify-content: center;
    
    @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 0;
            margin-left: 15px;
            margin-right: 70px;
}

@include deskop {
    margin-left: 0;
}
}

&__contact {
padding-top: 20px;
    list-style-type: none;
    text-align: center;

    @include tablet {
        justify-content: center;
    

    @include deskop {
        text-align: left;
    }
}
}

&__contact-item {
    padding-top: 8px;
    flex-direction: column;

@include deskop {
        text-align: left;

    &:last-child {
    padding-top: 0px;

    }
}
}

&__contactline {
    font-style: normal;

    @include font(400, 14px, 1.7, 0.03em);
    color: rgba(255, 255, 255, 0.6);

    &:hover {
        color: var(--focus-color)
    }

    &:focus {
        color: var(--focus-color)
    }


}

&__contactline--adress {
    font-style: normal;
    @include font(400, 14px, 1.7, 0.03em);
    color: var(--main-background);

    &:hover {
        color: var(--focus-color);
    }
}

&__social-title {
    @include font(700, 14px, 1.7, 0.03em);
   text-transform: uppercase;
   color: var(--main-background);
   


    @include deskop {
    text-align: left;
    }
}

&__social-container {
margin-top: 20px;

    @include flex;
    justify-content: center;

    @include deskop {
        gap: 0;
    }
}

&__social-icons {
width: 44px;
height: 44px;
margin-right: 10px;
cursor: pointer;
}

&__:last-child {
    margin-right: 0;
}

&__social-link {
fill: var(--main-background);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    @include flex;
    justify-content: center;


&:hover {
    background-color: var(--focus-color);
    border-radius: 50%;
}

&:focus {
    background-color: var(--focus-color);
    border-radius: 50%;
}
}

&__join {
    @include tablet {
        margin-bottom: 65px;
        margin-left: 144px;
        justify-content: center;
    
    }

    @include deskop {
        margin-left: 0px;
    }
}

&__newsletter {
justify-content: center;
text-align: center;


@include tablet {
        justify-content: center;
        align-items: center;
        margin-left: 151px;

    @include deskop {
        margin-left: 78px;
        
}
}
}

&__submit {
font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  
    display: block;
    margin-top: 60px;

    @include deskop {
        flex-direction: column;
        text-align: left;
    }
}

&__input {
    
width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
    padding-left: 16px;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include tablet {
        display: flex;
        width: 450px;

    @include deskop {
        width: 358px;
}
}
}

&__button {
width: 200px;
height: 50px;
@include font(700, 16px, 1.8, 0.06em);
color: var(--main-background);
 background: var(--focus-color);
box-shadow: var(--box-shadow-hero);
border-radius: 4px;
cursor: pointer;
justify-content: space-between;
margin-top: 20px;

@include deskop {
width: 200px;
    margin-top: 0;

    margin-left: 12px;
    
}
}

&__icon-send {
    fill: var(--main-background);
    margin-left: 24px;
    vertical-align: middle;
}

&__newsletter-wrapper {
    @include deskop {
        display: flex;
            flex-direction: row;
            padding-bottom: 40px;
            padding-left: 0px;
    }
}
}
