.footer {
    background: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;


&__flex {
    display: flex;
align-items: baseline;
}

&__div {
    margin-right: 70px;
}

&__contact {
padding-top: 20px;
    list-style-type: none;
}

&__contact-item {
    padding-top: 9px;


    &:first-child {
    margin-top: 0px;
    }
}

&__contactline {
    font-style: normal;
    @include font(400, 14px, 1.7, 0.03em);
    color: rgba(255, 255, 255, 0.6);

    &:hover {
        color: var(--focus-color)
    }

    &:focus {
        color: var(--focus-color)
    }
}

&__contactline--adress {
    font-style: normal;
    @include font(400, 14px, 1.7, 0.03em);
    color: var(--main-background);

    &:hover {
        color: var(--focus-color);
    }
}

&__social-title {
    @include font(700, 14px, 1.7, 0.03em);
   margin-right: 70px;
   text-transform: uppercase;
   color: var(--main-background);
}

&__social-container {
margin-top: 20px;
    @include flex;
    justify-content: center
}

&__social-icons {
width: 44px;
height: 44px;
margin-right: 10px;
cursor: pointer;
}

&__:last-child {
    margin-right: 0;
}

&__social-link {
fill: var(--main-background);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    @include flex;
    justify-content: center;


&:hover {
    background-color: var(--focus-color);
    border-radius: 50%;
}

&:focus {
    background-color: var(--focus-color);
    border-radius: 50%;
}
}

&__newsletter {
margin-left: 77px
}

&__submit {
display: flex;
flex-direction: column;
@include font(700, 14px, 1.1, 0.03em);
margin-bottom: 20px;
margin-right: 77px;
text-transform: uppercase;
color: var(--main-background)
}

&__input {
box-sizing: border-box;
width: 358px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
padding-left: 16px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background: var(--footer-color)
}

&__button {
width: 200px;
height: 50px;
@include font(700, 16px, 1.8, 0.06em);
margin-left: 12px;
color: var(--main-background);
 background: var(--focus-color);
box-shadow: var(--box-shadow-hero);
border-radius: 4px;
cursor: pointer;
justify-content: space-between;
 
}

&__icon-send {
    fill: var(--main-background);
    margin-left: 24px;
    vertical-align: middle;
}

}
