

.hero {
    background-position: center;
height: 400px;
    background-size: cover;
    padding: 118px 0;
    margin: 0 auto;

    background-color: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/backgr/backgroundmobile@1x.jpg);


        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2ddpx) {
            background-color: rgba(47, 48, 58, 0.4);
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/backgr/backgroundmobile@2x.jpg);
            }

            @include tablet {
                height: 400px;
            background-color: rgba(47, 48, 58, 0.4);
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/backgr/backgroundtablet@1x.jpg);
            
            
                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2ddpx) {
                    background-color: rgba(47, 48, 58, 0.4);
                    background-image: linear-gradient(to right,
                            rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)),
                        url(../images/backgr/backgroundtablet@2x.jpg);
            }
        }

    @include deskop {
        padding-block: 200px 210px;
        height: 600px;
        background-position: center;
        max-width: 1600px;
       
    
        background-color: rgba(47, 48, 58, 0.4);
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/backgr/background-picture.jpg);
        
        
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2ddpx) {
                background-color: rgba(47, 48, 58, 0.4);
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/backgr/background-picture@2px.jpg);
    }
}

    &__title-webstudio {
        @include font(900, 24px, 1.61, 0.06em); //* nie robią sie 2 linie tekstu tylko 3 //
        text-align: center;
        max-width: 365px;
        white-space: wrap;

        margin: 0 auto;
        color: var(--main-background);

    @include deskop {
        @include font(900, 44px, 1.36, 0.06em);
        max-width: 696px;
  
    }
}

    &__button-position {
        justify-content: center;
        @include flex;

    }

    &__button-webstudio {
        @include font(700, 16px, 1.8, 0.06em);
        cursor: pointer;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        padding: 10px 41px;
        border-radius: 4px;
        box-shadow: var(--box-shadow-hero);
        Background: var(--button-background);

        &:hover {
            color: var(--main-background);
            background: var(--focus-color);
        }
    }
}
