.form-window {

    padding-left: 40px;
    padding-right: 40px;

&__title {
max-width: 370px;
    font-family: Roboto;
    @include font(700, 20px, 1.15, 0.03em);
    text-align: center;
    color: rgba(33, 33, 33, 1);
    margin-top: 40px;
    margin-bottom: 12px;

    @include deskop {
        max-width: 448px;
    }
}

&__label {
    display: flex;
    flex-direction: column;
    @include font(400, 12px, 1.17, 0.01em);
    margin-bottom: 10px;
    color: rgba(117, 117, 117, 1);
}

&__box {
    display: block;
    position: relative;
    margin-top: 4px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
}

&__input {
    display: block;
    width: 100%;
    height: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
    outline: transparent;
}
    

&__icon {
    position: absolute;
    fill: rgba(33, 33, 33, 1);
    transform: translateY(-50%);
    top: 50%;
    left: 13px;
}

&__button {

    @include font(700, 16px, 1.88, 0.06em);
    color: var(--main-background);
    background-color: var(--focus-color);
     padding: 10px 76px;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, .15);
}

&__button-position {
padding-top: 31px;
    @include flex;
    justify-content: center;

    @include deskop {
        padding-top: 0;
    }
}
}

.form-window__box:focus-within,
.form-window__input:focus-within {
    fill: var(--focus-color);
    border-color: var(--focus-color);
}

.form-window__input:focus +.form-window__icon {
    fill: var(--focus-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-window__input:checked+.form-window__icon {
background-color: var(--focus-color);
border-color: var(--focus-color);
}

.modal {
    position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 450px;
        height: 609px;
        background-color: var(--main-background);
        box-shadow: var(--box-shadow-team);
        border-radius: 4px;

    @include deskop {
    width: 528px;
    height: 581px;
    }

    &__close-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: var(--main-background);
        cursor: pointer;

    }
}

.comment {
      width: 100%;
      height: 120px;
      padding: 12px 16px;
      margin-top: 4px;
      color: rgba(117, 117, 117, 0.5);
      resize: none;


   &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
}
}

