.portfolio {
    display: none;
    display: flex;
    flex-wrap: wrap;

&__img-containers {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-right: 30px;
}


&__figcaption-item {
padding: 20px 24px;
border: 1px solid #eeeeee;


&:hover {
box-shadow: var(--box-shadow-figcaption)
}

&:focus {
box-shadow: var(--box-shadow-figcaption)
}

&__figcaption-title {
    @include font(700, 18px, 2, 0.06em);
}
}

&__paragraph {
    @include font(400, 16px, 1.8, 0.03em);
    margin-top: 14px;
    color: var(--second-line-color);
}
}