@mixin flex($display: flex, $align: center) {
    display: $display;
    align-items: $align;
}

@mixin font($weight: 500, $size: 14px, $line-height: 1.1, $spacing: 0.02em) {
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
    letter-spacing: $spacing;
}

@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        @content;
    }
}

@mixin deskop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
