
:root {
    --text-color: rgba(33, 33, 33, 1);
    --main-background: rgba(255, 255, 255, 1);
    --focus-color: rgba(33, 150, 243, 1);
    --second-line-color: rgba(117, 117, 117, 1);
    --button-background: rgba(245, 244, 250, 1);
    --footer-color: rgba(47, 48, 58, 1);
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --border-bottom-color: #ececec;
    --box-shadow-filter: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --box-shadow-hero: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --box-shadow-figcaption: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    --box-shadow-team: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

