* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    --main-background: var(--main-background);
}

.h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a:link {
    text-decoration: inherit;
}

.button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;

}